*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(./weaterBack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainDiv {
    width: 1000px;
    height: 500px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.City {
    color: white;
    font-size: 80px;
    font-weight: bolder;
}

.City-input {
    margin-top: 150px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 20px;
    color: white;

}

.City-input::placeholder{
    color: white;
}

.City-submit {
    background-color: orangered;
    margin-top: 50px;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 40px;
    border-radius: 100px;
    cursor: pointer;
}

.City-submit:active {
    scale: 0.9;
}

.Main-Content {
    display: flex;
    height: 90%;
}

.Date-day {
    color: rgba(255, 255, 255, 0.823);
    font-weight: lighter;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Date-Date {
    color: rgba(255, 255, 255, 0.534);
    font-size: 25px;
    font-weight: lighter;
    margin-top: 10px;
}

.City-Header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.City-Mmtemp {
    display: flex;
    gap: 30px;
    color: white;
    font-size: 20px;
}

.Winds {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.463);
}

.Temp-Main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    position: relative;
}

.Weather-Main {
    color: rgba(255, 255, 255, 0.566);
    font-weight: bolder;
    font-size: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.492);
    position: absolute;
    bottom: 20px;
}

.Weather-temp {
    color: white;
    font-size: 150px;
    position: absolute;
    right: 10px;
    top: 0;  
}

